/* Para testar se o CSS está sendo carregado */
body::before {
  content: "✅ CUSTOM CSS ATIVADO";
  display: block;
  background: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}


/* Corrige o tamanho da capa do álbum */
.entry-cover img {
  max-width: 40%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: var(--radius);
}