<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <script>
      (function () {
        const lang = navigator.language || navigator.userLanguage;

        let langPrefix = "en";
        if (lang.startsWith("pt")) langPrefix = "pt";
        else if (lang.startsWith("es")) langPrefix = "es";

        // Redireciona diretamente para /<idioma>/
        window.location.href = "/" + langPrefix + "/";
      })();
    </script>
  </head>
  <body>
  </body>
</html>
